@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bold {
    font-weight: 800;
}
.brush {
    background-image: url("/images/highlight.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

@media (max-width: 360px) {
    .brush {
        background-image: none;
    }
}

.flashing:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.02);
    z-index: 9;
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span {
    position: fixed;
    top: 0;
    right: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.popup-window {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup {
    animation: popup 0.7s;
}

@keyframes popup {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale();
    }
}

/* for signup page */
.signup-container {
    background: url("/images/signup-bg.png");
    background-size: cover;
}
.signup-imgs {
    margin-top: 4rem;
    margin-left: 3rem;
    opacity: 0.9;
    background: url("/images/hands.png");
    background-size: 600px;
    background-repeat: no-repeat;
}
@media screen and (max-width: 820px) {
    .signup-imgs {
        display: none;
    }
    .inputs {
        width: 100%;
        background: url("/images/signup-bg.png");
        background-size: cover;
    }
}
.line {
    margin: 4px 12px;
    margin-top: 10px;
    background: linear-gradient(45deg, #14212e, #aae7a2, #f00d99);
    height: 1px;
    width: 160px;
}
/* end for signup page */
.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 5px;
    width: 65vw;
    object-fit: cover;
}

@media (max-width: 768px) {
    .popup-image img {
        width: 85vw;
    }
}

@layer base {
    nav,
    button,
    body {
        @apply font-Poppins;
    }
}
.carouselItem {
    background-size: cover;
    background-position: center;
    height: 400px;
}
.carouselItem1 {
    background-image: url("https://images.pexels.com/photos/6192127/pexels-photo-6192127.jpeg?auto=compress&cs=tinysrgb&w=1770&h=750&dpr=1");
    opacity: 0.85;
}
.carouselItem2 {
    background-image: url("https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}
.carouselItem3 {
    background-image: url("https://images.unsplash.com/photo-1641232458416-feace752b346?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}
.carouselItem4 {
    background-image: url("https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1980&q=80");
}
@media screen and (max-width: 640px) {
    .carouselItem {
        height: 205px;
    }
}

.custom-bold {
    font-weight: 700;
}

.activeLink {
    background-image: url("/images/highlight1.png");
    background-repeat: no-repeat;
    background-position: center;
}
/*for donation page*/
.donationbrush {
    background-image: url("/images/brushh.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .donationCard {
        height: 288px;
    }
    .ptexttab {
        padding: 36px;
        font-size: medium;
    }
    .flexing {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 375px) {
    .donationCardPhone {
        width: 210px;
        height: 225px;
    }
    .htext {
        font-size: large;
        text-align: center;
    }
    .brushphone {
        width: 250px;
        height: 40px;
    }
}
/* for footer responsiveness */
@media screen and (max-width: 768px) {
    .logosizingtab {
        width: 280px;
        margin-left: 4px;
    }
}
@media screen and (max-width: 375px) {
    .logosizingphone {
        width: 270px;
    }
}

.brush {
    background-image: url("/images/highlight.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

@media (max-width: 360px) {
    .brush {
        background-image: none;
    }
}

.flashing:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.listingCard:hover #listingOverview {
    display: block;
}

.orderCard:hover #orderOverview {
    display: block;
}

/*edit profile phone styling*/
@media screen and (max-width: 375px) {
    .editphone {
        width: auto;
    }
    .inputphonefont {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .edittab {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .inputtabfont {
        font-size: 16px;
    }
}

h1 {
    font-family: "Montserrat Medium";
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.mission {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    font-family: Poppins;
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}
.spanned {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.spanned:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.spanned:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
