@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.brush {
    background-image: url("../../public//images/highlight.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

@media (max-width: 360px) {
    .brush {
        background-image: none;
    }
}

.flashing:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.02);
    z-index: 9;
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 5px;
    width: 65vw;
    object-fit: cover;
}

@media (max-width: 768px) {
    .popup-image img {
        width: 85vw;
    }
}

@layer base {
    nav,
    button {
        @apply font-Poppins;
    }
}
.carouselItem {
    background-size: cover;
    background-position: center;
    height: 400px;
}
.carouselItem1 {
    background-image: url("https://images.unsplash.com/photo-1463620910506-d0458143143e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}
.carouselItem2 {
    background-image: url("https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}
.carouselItem3 {
    background-image: url("https://images.unsplash.com/photo-1641232458416-feace752b346?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}
.carouselItem4 {
    background-image: url("https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1980&q=80");
}
@media screen and (max-width: 640px) {
    .carouselItem {
        height: 205px;
    }
}

.custom-bold {
    font-weight: 800;
}

/*for donation page*/
.donationbrush {
    background-image: url("../../public/images/brushh.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .donationCard {
        height: 288px;
    }
    .ptexttab {
        padding: 36px;
        font-size: medium;
    }
    .flexing {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 375px) {
    .donationCardPhone {
        width: 210px;
        height: 225px;
    }
    .htext {
        font-size: large;
        text-align: center;
    }
    .brushphone {
        width: 250px;
        height: 40px;
    }
}
/* for footer responsiveness */
@media screen and (max-width: 768px) {
    .logosizingtab {
        width: 280px;
        margin-left: 4px;
    }
}
@media screen and (max-width: 375px) {
    .logosizingphone {
        width: 270px;
    }
}
