@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bold {
    font-weight: 800;
}
